---
---
@import "{{ site.theme }}";

// Custom styles go here
body {
  font-family: 'Arial', sans-serif;
  background-color: #ffffff; // White background
  color: #000000;       // Black text (or very dark gray for better contrast)
}
